.feed-body {
    flex-wrap: nowrap;
    flex-grow: 1;
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.side-bar {
    width: 20%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: gainsboro;
}

.feed {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    text-align: center;
    background-color: #f4f4f9;
    flex-basis: 60%;
}

.post, .project {
    overflow: clip;
    display: block;
    unicode-bidi: isolate;
    height: auto;
    width: 80%;
    background-color: rgb(60, 60, 60);
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    margin: 15px;
    padding: 10px;
    text-align: left;
}

.post-img, .project-image {
    object-fit: scale-down;
    height: auto;
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-bar-projects {
    margin-left: 20px;
    background-color: skyblue;
}