body {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Comic Sans MS", cursive;
  font-size: 16px;
}

#header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  padding-bottom: .5rem;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.headerSection {
  height: 100%;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 0;
  align-content: center;
  flex-grow: 1;
}

.li {
  display: list-item;
  padding-left: 5px;
  font-size: 50px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  margin-bottom: 0;
  align-content: center;
  flex-grow: 1;
  list-style: none;
}


.logo {
  justify-content: center;
  justify-self: left;
  flex-basis: 30%;
}

.login {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: .375rem .75rem;
  gap: 30px;
  align-content: center;
  flex-basis: 30%;
  margin-right: 20px;
}

.login-button {
  justify-content: right;
  justify-self: right;
  align-content: center;
  /*Bootstrap button.*/
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    top: 50%;
    font-size: 1rem;
    line-height: 1.5;
}

.login-button:hover{
  color: #007bff;
  background-color: #fff;
  border-color: #fff;
}

.app-body {
  background-color: gray;
}

.app {
  background-color: gray;
}

.p40{
  flex-basis: 40%;
}

.about-me-body{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1920px;
}

.about-me-text {
  align-content: center;
}

.portrait{
  max-width: 400px;
  max-height: 400px;
  padding-left: 5%;
  float: right;
}



